{
	email {$LETSENCRYPT_EMAIL}
}

cms.dental-clinic.kiremma.dev {
	encode zstd gzip
	reverse_proxy directus:8055
}

api.dental-clinic.kiremma.dev {
	encode zstd gzip
	reverse_proxy 172.30.0.1:8000
}

n8n.dental-clinic.kiremma.dev {
	encode zstd gzip
	reverse_proxy n8n:5678
}
